.form{
    margin: 3rem auto 3rem auto;
    width: 60rem;
    background-color: white;
    height: 40rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input{
    border: 2px solid #0a66c2;
    border-radius: 2rem;
    width: 40rem;
    margin-bottom: 1rem;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
}
.submitButton{
    background-color: aquamarine;
    padding: 1rem 4rem 1rem 4rem;
    border: 0;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: white;
    &:hover{
        background-color: rgb(96, 190, 159);
        cursor: pointer;
    }
}
